@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';
@import "../../node_modules/aos/dist/aos.css";

@plugin 'tailwind-scrollbar';


@font-face {
    font-family: "EmBauhaus W00 Bold";
    src: url("@/fonts/EmBauhaus-W00-Bold.ttf")format("ttf"),
    url("@/fonts/EmBauhaus-W00-Bold.woff2")format("woff2"),
    url("@/fonts/EmBauhaus-W00-Bold.woff")format("woff");
}


@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';


@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-logo: 'EmBauhaus W00 Bold', 'Poppins', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-logo: #002641;

    --color-logo-50: #e1f2ff;
    --color-logo-100: #c2e3ff;
    --color-logo-200: #79cbff;
    --color-logo-300: #00a3ff;
    --color-logo-400: #004e79;
    --color-logo-500: #002641;
    --color-logo-600: #001e39;
    --color-logo-700: #00182e;
    --color-logo-800: #001426;
    --color-logo-900: #00101f;
    --color-logo-950: #000811;


    --color-technik-50: #f7fafa;
    --color-technik-100: #f1f3f4;
    --color-technik-200: #e6eaeb;
    --color-technik-300: #d2d8db;
    --color-technik-400: #b6c0c6;
    --color-technik-500: #909ea9;
    --color-technik-600: #84919e;
    --color-technik-700: #6c7682;
    --color-technik-800: #5a636d;
    --color-technik-900: #4b525a;
    --color-technik-950: #31363b;

    --color-makler-50: #f2f7f8;
    --color-makler-100: #e8eff2;
    --color-makler-200: #d7e2e6;
    --color-makler-300: #bdd0d7;
    --color-makler-400: #a0b9c6;
    --color-makler-500: #7b95aa;
    --color-makler-600: #657f98;
    --color-makler-700: #5f7080;
    --color-makler-800: #4e5b68;
    --color-makler-900: #434c53;
    --color-makler-950: #272c31;






    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-logo);
    --color-accent-content: var(--color-logo);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field] {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */


p{
    @apply text-base xl:text-lg font-light;
}



.menu-item > div:nth-child(1) span {
    will-change: transform;
    transform-style: preserve-3d;
    transition: 0.5s;
    transition-delay: calc(0.02s * var(--index));
    transform-origin: bottom;
    display: inline-block;
    @apply dark:text-white;
}

.menu-item > div:nth-child(2) span {
    will-change: transform;
    transform-style: preserve-3d;
    transition: 0.5s;
    transition-delay: calc(0.02s * var(--index));
    transform-origin: bottom;
    display: inline-block;
    transform: translate3d(0, 100%, 0) rotate(-90deg);
    @apply text-logo/75 dark:text-white;
}


.menu-item:hover > div:nth-child(1) span {
    transform: translate3d(0, -100%, 0) rotateX(-90deg);
}

.menu-item:hover > div:nth-child(2) span {
    transform: translate3d(0, 0%, 0) rotateX(0deg);
}


.button-hover {
    @apply overflow-hidden bg-transparent outline-1 outline-logo dark:outline-white outline-offset-2
    px-8 lg:px-14 py-2 m-1
    leading-4 tracking-wider
    text-logo dark:text-white relative cursor-pointer
    text-base block rounded font-medium transition-all duration-300
    ease-in-out transform;

    span {
        position: absolute;
        display: block;
        width: 10px;
        height: 10px;
        top: 0;
        left: 50%;
        transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
        transition-delay: 50ms;
        transform: translate(-50%, -50%);
        pointer-events: none;
        @apply bg-logo dark:bg-white;
        border-radius: 50%;
    }

    &:hover {
        @apply text-white dark:text-logo;

        span {
            width: 300%;
            height: 300%;
        }
    }

    &:active {
        @apply bg-logo;
    }
}

.button-ondark > .button-hover {
    @apply overflow-hidden bg-transparent outline-1 outline-white outline-offset-2
    px-8 lg:px-14 py-2 m-1
    leading-4 tracking-wider
    text-white relative cursor-pointer
    text-base block rounded font-medium transition-all duration-300
    ease-in-out transform;

    span {
        position: absolute;
        display: block;
        width: 10px;
        height: 10px;
        top: 0;
        left: 50%;
        transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
        transition-delay: 50ms;
        transform: translate(-50%, -50%);
        pointer-events: none;
        @apply bg-white;
        border-radius: 50%;
    }

    &:hover {
        @apply text-logo;

        span {
            width: 300%;
            height: 300%;
        }
    }

    &:active {
        @apply bg-white;
    }
}


.section{
    @apply py-24 px-4 lg:max-w-4xl xl:max-w-6xl mx-auto;
}

.prose{

    @apply text-logo dark:text-white;

    h2{
        @apply leading-tight text-3xl font-bold text-logo dark:text-white mt-4 mb-2;
    }

    h3{
        @apply leading-tight text-2xl font-bold text-logo dark:text-white mt-4 mb-2;
    }

    h4,h5,h6 {
        @apply leading-tight text-xl font-bold text-logo dark:text-white mt-4 mb-2;
    }

    ul{
        @apply list-disc list-outside md:text-lg font-light my-4;

        li{
            @apply ml-6 mb-2;
        }
    }

    a{
        @apply text-logo-300;
    }

    p{
        @apply mb-2 text-pretty;
    }

    strong{
        @apply font-bold;
    }
}

video::-webkit-media-controls {
    display: none;
}


.breakout-right-only {
    width: calc(100vw - (50vw - 36rem));
    /* Berechnet die Breite vom linken Rand des Parents bis zum rechten Bildschirmrand */
    position: relative;
    left: 0;
    box-sizing: border-box;
}

iframe{
    @apply aspect-video w-full h-auto;
}

.swiper-pagination-bullet-active{
    @apply !bg-logo;
}

.swiper-button-prev,
.swiper-button-next{
    @apply !text-logo !z-[9999];
}